<?xml version="1.0"?>
<!--
/**
 * Product Tabs
 *
 * @category  Internship
 * @package   Internship\ProductTabs
 * @author    Andrii Tomkiv <tomkivandrii18@gmail.com>
 * @copyright 2023 tomk1v
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Internship\ProductTabs\Api\Data\ProductTabsInterface"
                type="Internship\ProductTabs\Model\ProductTabs"/>

    <preference for="Internship\ProductTabs\Api\ProductTabsRepositoryInterface"
                type="Internship\ProductTabs\Model\ProductTabsRepository"/>

    <preference for="Internship\ProductTabs\Api\Data\ProductTabsSearchResultInterface"
                type="Magento\Framework\Api\SearchResults"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="internship_product_tabs_listing_data_source"
                      xsi:type="string">InternshipProductTabsCollection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="InternshipProductTabsCollection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">internship_product_tabs</argument>
            <argument name="resourceModel"
                      xsi:type="string">Internship\ProductTabs\Model\ResourceModel\ProductTabs</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Catalog\Block\Product\View\Details">
        <plugin name="product_tabs_view_description_after" type="Internship\ProductTabs\Plugin\DescriptionPlugin"/>
    </type>
</config>
