<?xml version="1.0"?>
<!--
/**
 * Product Tabs
 *
 * @category  Internship
 * @package   Internship\ProductTabs
 * @author    Andrii Tomkiv <tomkivandrii18@gmail.com>
 * @copyright 2023 tomk1v
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Internship_ProductTabs::home" title="Product Tabs" module="Internship_ProductTabs"
             sortOrder="1000" parent="Magento_Catalog::catalog_categories" resource="Magento_Catalog::categories"
             action="product_tabs/index/index"/>
    </menu>
</config>
